*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: min-content;
    padding-top: 60px;
    
}
section {
    display: flex;
    margin-top: 30px;
}

.column {
    min-width: 400px;
}

.column__inputs {
    margin-right: 30px;
}

p, h2, li {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {

    font-weight: 300;
    margin-bottom: 20px;
}


label p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(64, 64, 64);
}

input, textarea {
    width: 100%;
    border: none;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    resize: none;
}

textarea::-webkit-scrollbar { 
    width: 0; 
}

video {
    max-width: 400px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    background-color: white;
    cursor: pointer;
}

hr {
    border-top: solid 0.1px lightgray;
}

.bautton_tweak {
    margin-bottom: 20px;
}

.button_report {
    margin-top: 20px;
    margin-bottom: 50px;
}

.button_sting {
    font-size: 12px;
    line-height: 12px;
    border: none;
}

.checkbox {
    -webkit-appearance: none;
   background-color: rgb(225, 225, 225); 
   border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    width: 15px;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 22px;
	position: absolute;
	top: -5px;
	left: 0px;
	color: #99a1a7;
}
.question {
    flex-direction: column;
    align-items: center;
}
.button_run-this {
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-bottom: 150px;
}

header {
    display: flex;
    justify-content:flex-end;
    color: #99a1a7;
    align-items: center;
    margin-bottom: 150px;
}

header p {
    margin-right: auto;
}

header a, .button_sign-in {
    color: #99a1a7;
    text-decoration: none;
    border: none;
    line-height: 19px;
    height: 19px;
    width: auto;
    vertical-align: text-bottom;
    
}
.button_sign-in {
    margin-left: 20px;

}

header .button_run-this {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    align-items: flex-start;
    margin-top: 60px;
}

ul {
    display: flex;
    list-style-type: none;
   
}

li {
     padding-left: 20px;
}

a {
    color: rgb(64, 64, 64);
}

.under-header {
    display: flex;
    flex-direction: column;
}

.breadcrumps {
    margin-bottom: 30px;
}
.breadcrumps a, .breadcrumps span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.breadcrumps a:first-of-type {
    color: #cacece;
    text-decoration: underline;
}

.accessibility {
    background-color: #e9ecee;
    border-radius: 20px;
    width: 100px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.accessibility p {
    padding-left: 5px;
}

.settings-row {
    display: flex;
}
.settings-bar {
   flex-wrap: wrap;
   align-items: center;
}

.settings-bar li{
    padding-left: 5px;
    line-height: 24px;
}

.settings-bar li:first-of-type{
    padding-left: 0;
}

.useful-links {
    display: flex;
}

.overview {
    margin-top: 30px;
    margin-bottom: 20px;
}

.overview li {
    
    position: relative;
}

.overview_active::after {
    content: "";
    position: absolute;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: solid 3px black;
    top: 38px;
    left: 9px;

}

.useful-links {
    display: flex;
    justify-content: space-between;
}
.useful-links div{
    width: 30%;
    background-color: #e9ecee;
    border-radius: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px black;
}
.useful-links p{
    padding-left: 5px;

}

.useful-links div:first-of-type {
    border-color: #cacece;
}